.form{
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 500px;
    height: 360px;
    background-color: #fff;
    padding: 20px;
}

.form-header{
    color: #000;
    font-size: 30px;
    text-align: center
}

.form input{
    width: 460px;
    margin-top: 20px;
}

.form-description{
    height: 100px;
    width: 460px;
    margin-top: 20px;
}

.form-btn{
    margin: 20px 155px;
    height: 42px;
    width: 150px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    background: #F9F0DA;
    color: #000;
}