.announcement-list-item{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 300px;
}

.announcement-details{
    padding: 10px;
}

.announcement-cover{
    width: 300px;
    object-fit:cover;
    height: 200px;
}

.announcement-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.announcement-date{
    font-size: 10px;
    color: #7BA7AB;
}

.announcement-title{
    font-size: 20px;
    font-weight: bold;
}

.announcement-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: aqua;
    width: 130px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    background: #F9F0DA;
    color: #000;
}